server:
  port: 8081
spring:
  application:
    name: criti-cloud-back
  datasource:
    username: postgres
    password: postgres
    url: jdbc:postgresql://localhost:5499/postgres
  jpa:
    hibernate:
      ddl-auto: validate
integration:
  ombd:
    url: http://www.omdbapi.com
    api-key: ${ombd.api-key}
  igdb:
    client-id: hfkz227pb7obhdzwfwauon13fuv1w7
    client-secret: ${igdb.api-secret}
logging:
  level:
    org:
      hibernate:
        SQL: TRACE
        type:
          descriptor:
            sql:
              BasicBinder: TRACE
org:
  gradle:
    jvmargs=--enable-native-access=ALL-UNNAMED: